sudo: require
services:
    - docker 

before_install:
    - docker build -t onlyforcoding24/docker-react -f Dockerfile.dev .

script:
    - docker run onlyforcoding24/docker-react npm run test -- --coverage
